# builds
bin
dist
tsconfig.tsbuildinfo
# .vscode should also be included when and if I'll get more people to work on this.
# package directories
node_modules
jspm_packages

*.yarn-error.log
.yarn


# Docs
coverage

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform

# Serverless directories
.serverless

# esbuild directories
.esbuild
*.env